jmespath==0.10.0
nested-lookup==0.2.25
pytz==2024.2
apscheduler==3.11.0
twikit==2.3.1
telethon==1.40.0
telegramify-markdown==0.5.1
aiohttp==3.12.15
aiofiles==24.1.0
python-telegram-bot==22.0
python-telegram-bot[job-queue]==22.0
python-binance==1.0.28
mistletoe==1.4.0
pandas==2.2.3
matplotlib==3.10.3
mplfinance==0.12.10b0
pytest-playwright==0.7.0
PySocks==1.7.1
python-dotenv==1.1.1